/* <---- estilização cards de produtos ----> */

.teste {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
  overflow: hidden;
  width: 286px;
  height: 600px;
  border-radius: 10px;
  border: 1px solid #ddd;
  transition: 0.5s;
  

}

.c-bod{
  grid-column: 1;
  grid-row: 2;
  justify-items: center;
  grid-template-rows: 1fr 2fr;
  padding: 30px;
  background-color: #FFFFFF;
  overflow: hidden;
  height: auto;

}

.titulo{
  padding: 3px;
}

.teste:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  
}

.card-text{

  word-wrap: break-word;
}

.btn{
  margin-top: 35px;
  height: 70px;
  width: 283.33px;
}