* {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  margin: 0;
}
* {
  scroll-behavior: smooth;
}
body {
  font-family: Inter, sans-serif;
  line-height: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
.min-h-screen {
  min-height: 100vh;
}
.flex-col {
  flex-direction: column;
}
.header-text {
  --tw-text-opacity: 1;
  color: rgb(255 251 249 / var(--tw-text-opacity, 1));
}
.header-bg {
  --tw-bg-opacity: 1;
  background-color: rgb(103 45 9 / var(--tw-bg-opacity, 1));
}
.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.space-x-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1rem * var(--tw-space-x-reverse));
  margin-left: calc(1rem * (1 - var(--tw-space-x-reverse)));
}
.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}
.h-12 {
  height: 3rem;
}
.w-auto {
  width: auto;
}
.rounded {
  border-radius: 0.25rem;
}
.font-serif {
  font-family: serif;
}
.tracking-wide {
  letter-spacing: 0.025em;
}
.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}
@media (min-width: 768px) {
  .md\:flex {
    display: flex;
  }
}
.md\:hidden {
  display: none;
}
a {
  text-decoration: inherit;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}
.tracking-wider {
  letter-spacing: 0.05em;
}

/* Produtos Section */
.produtos {
  font: helvetica;
  grid-template-rows: 2fr 1fr 1fr;
  background-color: rgb(241, 174, 73);
  width: 300px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.produtos img {

  width: 100%;
  height: auto;
  object-fit: cover;
}

.content{
  padding: 15px;
}

.content h1 {
  margin: 0;
  font: bold 20px helvetica;
  color: #7a3e12;
  
}

.content p {
  font: 15px helvetica;
  color: #7a3e12;
  line-height: 1.5em;
  margin-top: 18px;
}

